<h1>タブレット 運用管理ダッシュボード</h1>

<ul>
  <li>
    <%= link_to 'ログインユーザー管理', users_path %>
  </li>
  <li>
    <%= link_to 'タブレット管理台帳', kanri_daichos_path %>
  </li>
  <li>
    <%= link_to 'MDMログ', kanri_daichos_path %>
  </li>
</ul>
