<h1>タブレット 運用管理ダッシュボード</h1>

<ul>
  <li>
    <%= link_to 'アクティブ率', 'mdm_logs/active_rate' %>
  </li>
  <li>
    <%= link_to 'ログインユーザー管理', users_path %>
  </li>
  <li>
    <%= link_to 'タブレット管理台帳', kanri_daichos_path %>
  </li>
  <li>
    <%= link_to 'MDMログ', mdm_logs_path %>
  </li>
</ul>
